<html>
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Profile</title>
	</head>
	<body id="business-profile">
		<div id="nav-placeholder"></div>

		<header id="business-profile-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
					  	<img src="img/passport.jpg" alt="Company Logo" class="company-logo center-block">
				    </div>
						<div class="col-lg-8 col-border">
							<div class="row">
								<div class="col-ld-6">
									<h1 class="display-4 title pb-4">Company Profile</h1>
								</div>
								<div class="col-ld-6">
									<div class="pl-5 pb-4">
									<a href="business-registration.html">
										<button type="button" class="button" name="button">
										Update your business</button></a>
										</div>
								</div>
							</div>

							<h4 class="display-5 title">Sommy Venture</h4>
							<p class="p-2">WeConnect provides a platform that brings businesses and individuals together.
								This platform creates awareness for businesses and gives the users the ability to write reviews about
								the businesses they have interacted with.  </p>
								<h5 class="display-6 sub-title">Achievements</h5>
								<p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
								<h5 class="display-6 sub-title">Products</h5>
								<p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
								<h5 class="display-6 sub-title">Year of Establishment</h5>
								<p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
								<h5 class="display-6 sub-title">Contact</h5>
								<p class="p-2"><strong>Email: </strong>Lorem@shutup.com <br> <strong>Address: </strong><br> <strong>Phone: </strong></p>
				    </div>
					</div>
				</div>
		</header>

		<section id="review-section">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<div class="p-5">
							<div class="form-group">
							<textarea name="name" rows="2" cols="30" placeholder="Write a responds..."class="form-control center-block"></textarea>
							</div>

							<div class="reviews">
								<div class="container">
									<div class="row pt-2">
											<div class="col-lg-2">
												<img src="img/passport.jpg" alt="User profile">
											</div>
											<div class="col-lg-10 text-left">
												Username <br> date
											</div>
											<div class="col-lg-12 p-4 text-left">
												<div style="border-top: #897b72 1px solid;">
													Lorem ipsum dolor sit amet, consectetur adipisicing elit,
													sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div id="footer-placeholder"></div>

		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script>
			$(function(){
				$("#nav-placeholder").load("nav.html");
  			$("#footer-placeholder").load("footer.html");
			});
		</script>

	</body>
</html>
