<html>
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/style.css">
		<title>Catalog</title>
	</head>

	<body id="business-catalog">
		<div id="nav-placeholder"></div>

		<header id="business-catalog-section">
			<div id="navigation">

				<div class="container">
					<!-- <div id="responsive-nav"> -->
						<div class="category-nav">
							<span class="category-header">Categories <i class="fa fa-list"></i></span>
							<ul class="category-list">
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Business</a></li>
							</ul>
						</div>
					<!-- </div> -->

						<!-- /category nav -->

						<!-- menu nav -->
						<div class="menu-nav">
							<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
							<ul class="menu-list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
							</ul>

							</div>

					</div>
				</div>
		</header>

		<!-- HOME -->
		<div id="home">
			<!-- container -->
			<div class="container">
				<!-- home wrap -->
				<div class="home-wrap px-2">
					<!-- home slick -->
					<div id="home-slick">

						<div class="row">
								<div class="col-lg-3">
									<a href="business-profile.html">
						<!-- banner -->
						<div class="banner banner-1">
							<img src="./img/banner01.jpg" alt="">
						</div>
						<div class="text-center">
						<h6 class="font-weight-bold pt-1">Company Name</h6>
						<span class="font-weight-normal">Products</span><br>
						<span class="font-weight-light">year</span>
					  </div>
						<!-- /banner -->
						</a>
						</div>

							<div class="col-lg-3">
								<a href="business-profile.html">
						<!-- banner -->
						<div class="banner banner-1">
							<img src="./img/banner02.jpg" alt="">
						</div>
						<div class="text-center">
						<h6 class="font-weight-bold pt-1">Company Name</h6>
						<span class="font-weight-normal">Products</span><br>
						<span class="font-weight-light">year</span>
					  </div>
						<!-- /banner -->
					</a>
					</div>

					<div class="col-lg-3">
						<a href="business-profile.html">
						<!-- banner -->
						<div class="banner banner-1">
							<img src="./img/banner03.jpg" alt="">
						</div>
						<div class="text-center">
						<h6 class="font-weight-bold pt-1">Company Name</h6>
						<span class="font-weight-normal">Products</span><br>
						<span class="font-weight-light">year</span>
					  </div>
						<!-- /banner -->
					</a>
					</div>
					<div class="col-lg-3">
						<a href="business-profile.html">
						<!-- banner -->
						<div class="banner banner-1">
							<img src="./img/banner04.jpg" alt="">
						</div>
						<div class="text-center">
						<h6 class="font-weight-bold pt-1">Company Name</h6>
						<span class="font-weight-normal">Products</span><br>
						<span class="font-weight-light">year</span>
					  </div>
						<!-- /banner -->
					</a>
					</div>
				</div>

				<div class="row">
				<div class="col-lg-3">
					<a href="business-profile.html">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner05.jpg" alt="">
					</div>
					<div class="text-center">
					<h6 class="font-weight-bold pt-1">Company Name</h6>
					<span class="font-weight-normal">Products</span><br>
					<span class="font-weight-light">year</span>
					</div>
					<!-- /banner -->
				</a>
				</div>
				<div class="col-lg-3">
					<a href="business-profile.html">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner06.jpg" alt="">
					</div>
					<div class="text-center">
					<h6 class="font-weight-bold pt-1">Company Name</h6>
					<span class="font-weight-normal">Products</span><br>
					<span class="font-weight-light">year</span>
					</div>
					<!-- /banner -->
				</a>
				</div>
				<div class="col-lg-3">
					<a href="business-profile.html">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner06.jpg" alt="">
					</div>
					<div class="text-center">
					<h6 class="font-weight-bold pt-1">Company Name</h6>
					<span class="font-weight-normal">Products</span><br>
					<span class="font-weight-light">year</span>
					</div>
					<!-- /banner -->
				</a>
				</div>
				<div class="col-lg-3">
					<a href="business-profile.html">
					<!-- banner -->
					<div class="banner banner-1">
						<img src="./img/banner07.jpg" alt="">
					</div>
					<div class="text-center">
					<h6 class="font-weight-bold pt-1">Company Name</h6>
					<span class="font-weight-normal">Products</span><br>
					<span class="font-weight-light">year</span>
					</div>
					<!-- /banner -->
				</a>
				</div>
				</div>
					</div>
					<!-- /home slick -->
				</div>
				<!-- /home wrap -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOME -->

		<div id="footer-placeholder"></div>

		<script src="js/jquery.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script>
			$(function(){
				$("#nav-placeholder").load("nav.html");
  			$("#footer-placeholder").load("footer.html");
			});
		</script>

	</body>
</html>
